{% extends "app/layout.html" %}
{% load static %}

{% block title %}
Gronthon
{% endblock %}

{% block body %}
<div class="allebooks container-sm d-flex justify-content-evenly flex-wrap">
    {% for pdf in pdfs %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{ pdf }}</h5>
          
          
          <a href="#" class="card-link" data-bs-toggle="modal" data-bs-target="#exampleModal">Read</a>          
        </div>
      </div>
    {% endfor %}

</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">                    
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Tintin</h4>         
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>       
            </div>                    
            <div class="modal-body">
                
            </div>            
        </div>    
    </div>
</div>

{% endblock %}
